* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI" ;
}

body {
  background: linear-gradient(135deg, #1d2671, #c33764);
  color: #333;
}

header {
  background: #ffffff;
  padding: 20px;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

nav a:hover {
  color: #c33764;
}

.section {
  max-width: 1000px;
  margin: 60px auto;
  background: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

h2 {
  margin-bottom: 20px;
  color: #1d2671;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  align-items: center;
}

.about img {
  width: 220px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.skills ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
}

.skills li {
  background: linear-gradient(135deg, #1d2671, #c33764);
  color: #ffffff;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
.table td {
  padding: 14px;
  border: 1px solid #ddd;
}

table th {
  background: #1d2671;
  color: #ffffff;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.project-card {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
  color: #c33764;
  margin-bottom: 10px;
}

form {
  display: grid;
  gap: 15px;
}

input,
textarea,
button {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: linear-gradient(135deg, #1d2671, #c33764);
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  opacity: 0.9;
}

.success-message {
  display: none;
  margin-top: 15px;
  padding: 12px 18px;
  background-color: #d4edda;
  color: #155724;
  border-left: 5px solid #28a745;
  border-radius: 8px;
  font-weight: 600;
  animation: fadeIn 0.5s ease;
}
.check-icon {
  font-size: 24px;
  color: #10b981;
  transform: scale(0);
  animation: pop 0.4s ease forwards;
  animation-delay: 0.2s;
}

.success-text {
  font-size: 15px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pop {
  to {
    transform: scale(1);
  }
}

footer {
  text-align: center;
  padding: 20px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .about {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about img {
    margin: 0 auto;
  }
}
